

body {
    background-image: url("image-1.jpg");
    /*border: 5px solid black;*/
    margin: 80px;
}

.style {
    font-size: large;
    color: rgb(4, 4, 56);
    margin: 5px auto;
    
    
}

.updateBtn {
    background-color: rgb(40, 142, 201);
     
}